.ps-header {
    width: 100%;
    margin: 0;
    margin-top: -2px;
    position: fixed;
    z-index: 100;
    background: beige;
}

.head-top{
    margin-left:32px;
}

.ps-container {
    position:relative;
    max-width: 960px;
    margin-left: 400px;
    margin: 0;
    padding: 0 6px;
    
}

@media (min-width: 720px) {
    .ps-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.ps-header .ps-container {
    padding: 0 9px;
}

.ps-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 48px;
}

.ps-nav .ps-title {
    font-size: 2.5rem;
    margin-right: 13px;
    
    
}

.ps-nav a {
    font-size: 0.975rem;
    margin-right: 19px;
    color: #4299e1;
    margin-bottom: -2rem;
    text-decoration: none;
}

.ps-main {
    padding-top: 51px;
   
}

.ps-planeshedulelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ps-planeschedule {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: #fff;
    margin: 15px;
    width: 280px;
}

 .plane-image{
    width: 128px;
    height: 58px;
     padding-top: 12px;
     padding-bottom: 6px;
    object-fit: cover;
    /*background: url("./no-poster.jpg") 0px 0px no-repeat;*/
}
.ps-single-plane {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: flex;
    /*background: url("./no-poster.jpg") 0px 0px no-repeat;*/
}
.planeschedule{
    margin-bottom: -200px ;
    
}
.passenger{
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: row;
    margin-left: 92px;
    letter-spacing: 2px;
    margin-top: 12px;
    
    
}

p{
    
    
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    
    
}

.ps-form .ps-form-row{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.ps-form .ps-form-col{
    width:100%;
    margin-bottom: 1rem;
}
.ps-form input[type="text"]{
    display: block;
    width: 20%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.ps-form button{
    margin-right: 15px;
    border:1px solid #4299e1;
}
.ps-table table thead th{
    border-bottom: 2px solid #999;
    background-color: rgba(0,0,0,0.075);
    text-align: left;
}
.ps-table table tbody tr:hover{
    
    background-color: rgba(0,0,0,0.075);
    
}
.ps-table table tbody tr td.ps-no-data{
    text-align: center;
    padding: 32px 0;
    color: rgba(0,0,0,0.25);
}
.ps-planeform-div {
/*     display: flex;
    flex-direction: column; 
    margin-left:0px auto;
    margin-top: -432px;
    padding-left: 722px; */
     
}
.ps-table .tbl-plane{
    
    margin-top:22px;
    
}
div .ps-customer-form{
    margin-left: 12px;
    margin-top: 60px;
   
}
.ps-plane-admin{
    display: flex;
    flex-direction: column;
    margin-top: -432px;
    padding-left: 722px;
   align-items: stretch;
    
     
}
h1.adm-head{
    font-size: 25px;
    color: whitesmoke;
    background-color: blue;
    width:14%;
    text-align: center;
    font-style: italic;
}
.ps-planeform-main-body input[type="text"]{
    
    width: 80%;
   
}
.ps-planeform-main-body input[type="Time"]{
    height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
   
}
h1.adm-head:hover{
    font-size: 25px;
    color: whitesmoke;
    background-color: red;
    width:6%;
    text-align: center;
    font-style: italic;
    
    transition: 2s ease;
}
.ps-planeform-main-body button{
    margin-top: 12px;
    margin-right: 15px;
    font-size: 20px;
    border:1px solid #4299e1;
}
